/*
    This file is used to define global styles for the application's typescales.

    Author: Ahmed Almasry
    Edited By: Angelina Leung
    Last modified: 31/07/2024
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --semi-bold: 550;
}
*{
    @apply text-black m-0;
}
html{
    font-family: 'Inter', sans-serif; /* Custom font */
}
body {
    @apply text-xl font-normal;
    /* 20px based on 16px default font size */
    /* 400, scale [1,1000] */
}
h1 {
    @apply text-5xl font-bold;
    /* 48px based on 16px default font size */
    /* 700, scale [1,1000] */
}
h2 {
    @apply text-3xl;
    font-weight: var(--semi-bold); /* Custom font weight */
    /* 30px based on 16px default font size */
    /* 550, scale [1,1000] */
}
h3 {
    @apply text-2xl;
    font-weight: var(--semi-bold); /* Custom font weight */
    /* 24px based on 16px default font size */
    /* 550, scale [1,1000] */
}
.subheading {
    @apply text-2xl font-normal;
    /* 24px based on 16px default font size */
    /* 400, scale [1,1000] */
}
button {
    @apply text-base;
    font-weight: var(--semi-bold); /* Custom font weight */
    /* 16px based on 16px default font size */
    /* 550, scale [1,1000] */
}
.caption {
    @apply text-base font-normal;
    /* 16px based on 16px default font size */
    /* 400, scale [1,1000] */
}

.token {
    @apply text-[0.7rem] font-normal;
    /* 14px based on 16px default font size */
    /* 400, scale [1,1000] */
}
