/*
    This file is used to define global styles for the application's typescales.

    Author: Ahmed Almasry
    Edited By: Angelina Leung
    Last modified: 13/08/2024
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --semi-bold: 550;
}
*{
    @apply text-black m-0;
}
html{
    font-family: 'Inter', sans-serif; /* Custom font */
}
body {
    @apply text-base font-normal;
}
h1 {
    @apply text-3xl font-bold text-center mt-14 mb-2 sm:text-4xl md:text-5xl md:mt-32 md:mb-4 lg:text-6xl ;
}
h2 {
    @apply text-2xl font-semibold text-center sm:text-3xl md:text-4xl lg:text-5xl;
}
h3 {
    @apply text-xl font-semibold text-center sm:text-2xl md:text-3xl lg:text-4xl;
}
.subheading {
    @apply text-xl font-medium text-center sm:text-2xl md:text-3xl lg:text-4xl;
}
button {
    @apply text-xs;
    font-weight: var(--semi-bold); /* Custom font weight */
    /* 16px based on 16px default font size */
    /* 550, scale [1,1000] */
}
.caption {
    @apply text-base font-normal;
    /* 16px based on 16px default font size */
    /* 400, scale [1,1000] */
}

.token {
    @apply text-[0.7rem] font-normal;
    /* 14px based on 16px default font size */
    /* 400, scale [1,1000] */
}
